<div class="row">
    <form class="filter-form" [formGroup]="searchMealsForm" (ngSubmit)="searchMeals(searchMealsForm.value)" novalidate>
        <div class="row">
            <div class="date-form-group">
                <label for="fromDate">From Date:</label>
                <ng-datepicker formControlName="fromDate"> </ng-datepicker>
            </div>
            <div class="date-form-group">
                <label for="toDate">To Date:</label>
                <ng-datepicker formControlName="toDate"> </ng-datepicker>
            </div>
        </div>

        <div class="row">
            <div class="time-form-group ">
                <label for="fromTime">From Time:</label>
                <input formControlName="fromTime" name="fromTime" type="time" id="fromTime" class="form-control" placeholder="From Time..." />
            </div>
            <div class="time-form-group">
                <label for="toTime">To Time:</label>
                <input formControlName="toTime" name="toTime" type="time" id="toTime" class="form-control" placeholder="To Time..." />
            </div>
        </div>
        <button type="submit" [disabled]="searchMealsForm.errors?.canFilter" class="search-btn btn btn-primary ">Search</button>
    </form>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let group of meals | groupBy: 'dateString'">
        <div [ngClass]="{'alert alert-danger': targetCalories < getSum(group.value), 'alert alert-success': targetCalories >= getSum(group.value)}">
            <p class="h3"> {{group.key | date:short }} </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meal of group.value">
                        <td>{{meal.description}}</td>
                        <td>{{meal.numberOfCalories}}</td>
                        <td>{{meal.date | date:short}}</td>
                        <td>{{meal.time}}</td>
                        <td>
                            <a class="operation-link" [routerLink]="['/meals/', meal.id]">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="operation-link clickable" (click)="removeMeal(meal.id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>